@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #37474F; /* teksto spalva */
    font-size: 12px; /* teksto dydis */
    background-color: #ECEFF1;
}

a {
    color: #1565C0;
}

/* pagrindinis puslapio blokas */
#body {
    width: 900px;
    margin: 0px auto; /* bloko centravimas puslapio viduje */
}

/* viršutinė puslapio dalis */
#header {
    width: 900px;
    height: 70px;
    background-color: #fff;
    float: left;
}

/* turinio blokelis */
#content {
    width: 900px;
    background-color: #fff;
    float: left;
}

/* pagrindinio meniu blokelis */
#topMenu {
    background-color: #ECEFF1;
    width: 900px;
    height: 40px;
    float: left;
}

/* kairysis puslapio blokelis */
#contentLeft {
    width: 200px;
    min-height: 470px; /* minimalus blokelio aukštis */
    float: left; /* blokelio pozicija */
}

/* turinio blokelis */
#contentRight {
    display: none;
    width: 699px;
    min-height: 470px; /* minimalus blokelio aukštis */
    float: left; /* blokelio pozicija */
}

/* apatinė puslapio dalis */
#footer {
    width: 900px;
    height: 40px;
    float: left;
    background-color: #6E6E6E;
    color: #fff;
}

#slogan {
    margin: 20px 0px 0px 15px;
    /*color: #E3564F;*/
    font-size: 22px;
}

#topMenu li {
    float: left; /* nustatome horizontalųjį meniu punktų lygiavimą */
    list-style: none; /* paslepiame sąrašo stiliaus savybes */
    margin: 12px 15px 12px 15px; /* nustatome meniu punktų ribas */
}

#topMenu li a {
    text-decoration: none; /* paslepiame nuorodos pabraukimą */
}

#topMenu li a:hover {
    text-decoration: underline; /* nustatome nuorodos pabraukimą užvedus pele */
}

#topMenu li a.active {
    text-decoration: underline; /* nustatome aktyvaus meniu punkto pabraukimą */
}

#contentLeft li {
    list-style: none;
    margin: 10px 0px 10px 25px;
}

#contentLeft li a {
    text-decoration: none;
}

#contentLeft li a:hover {
    text-decoration: underline;
}

#contentLeft li a.active {
    text-decoration: underline;
}

#contentLeft h2 {
    font-size: 22px;
    font-weight: normal;
    letter-spacing: -0.5px;
    margin: 10px 0px 0px 18px;
}

h2#pageTitle {
    font-size: 26px;
    margin: 10px 0px 0px 15px;
    font-weight: normal;
}

.newsItem {
}

.newsItemLast {
}

#contentRight p {
    margin-left: 15px;
    margin-right: 15px;
}

.newsItem p#title {
    font-weight: bold;
}